{% extends "base.html" %}

{% block title %}
    {{ category }} – {{ super() }}
{% endblock %}

{% block content %}
    {% if category.slug != latest_category.slug and articles_page.number == 1 %}
        <h1>Archiv {{ category }}</h1>

        {% for page in (pages + hidden_pages) %}
            {% if loop.first %}
                <ul>
            {% endif %}
            
            {% if page.path.startswith(category.slug) and page.parent is none %}
                <li>
                    <a href="/{{ page.url }}">{{ page.title }}</a>
                </li>
            {% endif %}

            {% if loop.last %}
                </ul>
            {% endif %}
        {% endfor %}
    {% endif %}


    <h1>Neuigkeiten {{ category }}</h1>

    {% for article in articles_page.object_list %}
        <article>
            <header>
                <h2>
                    <a href="/{{article.url}}" rel="bookmark">
                        {{ article.title }}
                    </a>
                </h2>
                <time datetime="{{ article.date }}">
                    <small>{{ article.locale_date }}</small>
                </time>
            </header>

            {{ article.content }}
        </article>
    {% else %}
        <p>Bisher ist hier nichts passiert&hellip; :(</p>
    {% endfor %}

    {% if DEFAULT_PAGINATION and articles_page.has_other_pages() %}
        <p class="paginator">
            {% if articles_page.has_previous() %}
                <a href="{{ SITEURL }}/{{ articles_previous_page.url }}" rel="prev">
                    &laquo; Vorherige
                </a>
                &emsp;
            {% endif %}

            Seite {{ articles_page.number }} von {{ articles_paginator.num_pages }}

            {% if articles_page.has_next() %}
                &emsp;
                <a href="{{ SITEURL }}/{{ articles_next_page.url }}" rel="next">
                    Nächste &raquo;
                </a>
            {% endif %}
        </p>
    {% endif %}
{% endblock content %}
